body{
    --navbar-background: #F8F9FA;
    --nav-text: #1c2b4f;
    --nav-text-hover:#1c2b4f;
    --sena: #1c2b4f;
    --text-shadow: rgba(28, 43, 79, 0.47);
    --background: #ffffff;
    --text-color: #1c2b4f;
    --progres-background: #EBF3E8;
    --box-shadow: #888888;
    --progress-border: #424949;
    --progressbar-color: #424949;
    --icon-color: #1c2b4f;
    --linear-gradient1: #d1d5e0;
    --linear-gradient2: #daede5;
    --linear-gradient3: #929cad ;
    --linear-gradient4: #EBF3E8;
    --container-textcolor:#212529;
    --contact-text:#212529BF;
    --contact-label: #212529;
    background: var(--background);
}

.dark-mode{
    --navbar-background: #212529;
    --nav-text: #f0f6ee;
    --nav-text-hover: #f2f2f2;
    --sena: #EBF3E8;
    --text-shadow: rgba(235, 243, 232,0.47);
    --background: #212529;
    --text-color:  #EBF3E8;
    --progres-background: #424949;
    --box-shadow: #424949;
    --progress-border: #EBF3E8;
    --progressbar-color: #EBF3E8;
    --icon-color: #EBF3E8;
    --linear-gradient1:#1c2b4f  ;
    --linear-gradient2:#2b403f  ;
    --linear-gradient3: #7f8f86 ;
    --linear-gradient4: #5f6778 ;
    --container-textcolor: #f0f6ee;
    --contact-text: #f0f6ee;
    --contact-label:#EBF3E8;
}



.navbar-custom{
    background: var(--navbar-background);
}


.container{
    width: 70%;
    color: var(--container-textcolor);
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
    background-color:#B2C8BA;
    
}

.nav-link, .profile{
    color: var(--nav-text);
}

.nav-link:hover, .profile:hover{
    color: var(--nav-text-hover);
}

.nav-link{
    padding-right: 5rem;
    padding-left: 5rem;
}

.margin-theme{
    margin-right: 25px;
}

.sena{
    font-size: 180px;
    color: var(--sena);
    text-shadow: -2px 11px 4px var(--text-shadow); 
}

.sena:hover{
    
}

.profile{
    font-size:25px;
}

.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.museomoderno{
    font-family: "MuseoModerno", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.lead{
    font-size: 30px;
    color: var(--text-color);
}

#hero{
    height: 700px;
    justify-content: center;
}

.hero h1{
    justify-content: center;
    margin-top: 120px;
}

#hero, #contact{
    //background: var(--section-background);
}

 
h3, h2,h1{
    color: var(--text-color);
}



.progress-bar{
    background-color: var(--progressbar-color) ;
    color: var(--progres-background);
}

.progress {
    border: solid var(--progress-border) 1.5px;
    box-shadow: 5px 10px 8px var(--box-shadow);
    background-color: var(--progres-background);
}


//projects section
#projects{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-content:flex-start;
    padding-right: 15px;
    padding-left: 15px;
}
.project-link{
    text-decoration: none;
    color: var(--textcolor);
}
.project-link:hover{
    text-decoration: underline;
}

.card{
    padding-top: 20px;
    //box-shadow: 5px 10px 8px var(--box-shadow);
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 16%), 0 4px 5px 0 rgb(0 0 0 / 11%), 0 1px 10px 0 rgb(0 0 0 / 10%);
    background-color: var(--background);
    margin-bottom: 20px;
    width: 450px;
    margin-right: 50px;
}

.card-text{
    color: var(--text-color);
}

.card-img-top{
    height: 270px;
}


.icon-link{
    color: var(--icon-color);
    text-decoration-color: var(--icon-color); 
}

//contact section
#contact{
    width:100%;
    position:absolute;
}
.contact-text{
    color: var(--contact-text);
}

.contact-label{
    color: var(--contact-label);
}

.contact-profile{
    font-size:25px;
}

#contact, #hero {
    background: linear-gradient(-45deg,var(--linear-gradient1),var(--linear-gradient2),  var(--linear-gradient3),var(--linear-gradient4));
    background-size: 180% 180%;
    animation: gradient-animation 15s ease infinite;
  }




.flickity-page-dots {
    position:unset;
 }

.flickity-page-dots .dot{
    background: var(--text-color);
 }
  

//bachground animation
  @keyframes gradient-animation {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
  }


@media only screen and (min-width: 530px) and (max-width: 716px)
{
    .card{
        width: 340px;
        margin-right: 30px;

    }

    .navbar > .container{
        width: 100%;
    }

    .profile{
        font-size:20px;
    }

    .sena{
        font-size: 150px;
    }
}

@media only screen and (max-width: 530px)
{
    .card{
        width: 240px;
        height: 350px;
        margin-right: 15px;
    }

    .card-img-top{
        height: 150px;
    }

    .navbar > .container{
        width: 100%;
        text-align: center;
    }
    
    .nav{
        font-size: 12px;
    }

    .sc-padding{
        justify-content: space-between;
    }

   .margin-theme{
        margin-right:0;
    }

    .profile{
        font-size:20px;
    }

    .sena{
        font-size: 100px;
    }
}
   